#container {
    display: flex;
    flex-wrap: wrap;
    border: solid;
    border-color: aquamarine;
}

.square {
    border: 1px solid #ccc;
    /* this makes squares include border in size calc */
    box-sizing: border-box;
}

/* .square:hover {
    background-color: black;
    cursor: pointer;
} */

.square.active {
    background-color: black;
    cursor: pointer;
}